body {
    background-color: #548687;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin: 10px 0;
    font-size: 2rem;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    height: 18vmin;
    width: 18vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 4rem;
    color: #E94F37;
}

.score-panel {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #E94F37;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
